html {
    font-size: 16px;
}
body {
    font-family: sans-serif;
    font-size: 1em;
    padding: 0 5%;
}
.site-title {
    font-size: 3.5em;
    font-weight:bold;
    line-height: 1.8;
    margin: 1.5em 0;
}

h2 {
    font-size: 1.8em;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
p {
    font-size: 1.2em;
    line-height: 1.8;
    max-width: 100rem;
}

img {
    border: 1em solid salmon;
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
    max-width: 160rem;
}

.introduction {
    font-size: 1.6em;
    margin-bottom: 4em;
}
.blog-excerpt {
    margin-bottom: 3em;
}

.latest-posts h2 {
    font-size: 1.5em;
}
.margined-section {
    margin-top: 4rem;
}
.jam {
    display: flex;
    align-items:center;
    gap: 2rem;
    font-size: 1rem;
    color: #777;
}
.jam img {
    border: .5em solid #ccc;
}
.current-jam {
    font-size: 2rem;
    color: #222;
}
.current-jam img {
    border-color: salmon;
}

@media (min-width: 48rem) {
    body {
        font-size: 1.1em;
    }
}
@media (min-width: 60rem) {
    body {
        font-size: 1.2em;
    }
}
@media (min-width: 75rem) {
    body {
        font-size: 1.4em;
    }
}
@media (min-width: 90rem) {
    body {
        font-size: 1.6em;
        padding: 0 10%;
    }
}

@media (min-width: 150rem) {
    figure {
        display: flex;
        gap: 2em;
    }
    figure img {
        height: 100%;
        flex: 3;
    }
    figcaption {
        flex: 2;
        align-self: center;
    }

}
